* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
  padding: 20px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
}
.image-container {
  background: rgba(224, 215, 163, 0.44);
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding-bottom: 0.5rem;
}
.image-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: rgba(153, 221, 153, 0.641);
}
.user-image {
  width: 100%;
  aspect-ratio:1/1;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.name,
.profession {
  font-family: sans-serif;
  font-weight: bold;
}

.profession {
  font-size: 0.79rem;
}
